.list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    border: none;
    background-color: #ffffff;
    color: black;
    cursor: pointer;
    border-radius: 3px;
}

.selected {
    background-color: #007bff;
    color: #fff;
}

.fadeIn {
    opacity: 0;
    animation-name: fade-in-animation;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes fade-in-animation {
    from { opacity: 0; }
    to { opacity: 1; }
}

.slideUp {
    transform: translateY(100%);
    animation-name: slide-up-animation;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes slide-up-animation {
    from { transform: translateY(100%); }
    to { transform: translateY(0); }
}