.messageWrapper {
    position: relative;
    color: black;
    display: flex;
    border-radius: 1px;
    background: #FFFFFF;
    padding: 11px 10px;
}

.contentWrapper {
    display: flex;
}

.user {
    width: 36px;
    margin-right: 10px;
}

a {
    text-decoration: none;
}

.messageInfo {
    width: 810px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
}

.url {
    margin-top: 8px;
    width: 259px;
    height: 146px;

    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 4px;
    background-size: cover;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* or 135% */

    letter-spacing: -0.035em;

    /* 1 */

    color: #000000;

    width: 810px;
    max-height: 65px;
    margin-top: 10px;
    font-style: normal;
    overflow: hidden;
    margin-bottom: 8px;
}

.openNews {
    margin-top: 8px;
    margin-bottom: 8px;
    width: 59px;
    height: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 10px;
    color: #808080;
}

.author {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 28px;
    margin-bottom: 6px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 13px;

    color: #808080;
}

.publication {
    position: absolute;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 9px;
    left: 0%;
    right: 24.79%;
    top: 70%;
    bottom: -3.33%;
    color: #808080;
}

.icons img {
    margin-right: 10px;
}

.buttonGroup {
    display: flex;
    align-items: center;
}

.button {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 11px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;

    min-width: 64px;
    height: 28px;

    border: 1px solid #0088EE;
    border-radius: 2px;
    color: #0088EE;
    margin-right: 10px;
    cursor: pointer;
}

.new {
    width: 42px;
    height: 10px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 10px;

    color: #0088EE;
    margin-right: 7px;
}

.old {
    width: 42px;
    height: 10px;
    margin-right: 7px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 10px;
    color: #CDCDCD;
}

.expert {
    width: 53px;
    height: 10px;

    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 10px;

    color: #CDCDCD;
}

.hashtags {
    margin-left: 9px;
    margin-bottom: 11px;
    display: flex;
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background: #FFFFFF;
}